.body-container{
	padding-top: 1px;
	width: 85%;
	margin: 0 auto;
	border-radius: 10px;
}
nav{
	background-color: #E1D9F4;
	padding: 0px 15px;
	border-radius: 10px;
	float: left;
	width: 30%;
}
section{
	padding: 0px 20px;
	width: 70%;
	float: right;
}
.add-button{
	color: white;
	padding: 0 10px;
	text-align: center;
	line-height: 60px;
	margin-top: 8px;
	height: 65px;
	border-radius: 10px;
	background-color: #544776;
	float: right;
}

li{
	color: #544776;
	font-size: 25px;
	font-style: italic;
}
.section-title{
	color: grey;
	text-align: center;
	font-size: 30px;
	text-decoration: italic;
}



